<div class="mt-8 text-gray-500">
    <%= render 'shared/profile/item_description', 
        title: project.title,
        subtitle: project.project_url,
        urlsubtitle: project.tech_stack,
        description:project.description
    %>
</div>